<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>厦门鱼鲸信息科技有限公司</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="vendor/index/bootstrap/css/bootstrap.min.css">
    <!-- Google fonts - Roboto for copy, Montserrat for headings-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/index/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/index/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/index/favicon.png">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="container-fluid">
      <div class="row min-vh-100">
        <div class="col-xl-5 col-lg-6 col-md-8 p-5 p-lg-4 mx-auto d-flex align-items-center">
          <div>
            <p> <a href="index.html" > <img src="img/index/LOGO2.png" alt="LOGO" title="鱼鲸科技"></a></p>
            <h1 class="text-uppercase">厦门鱼鲸信息科技有限公司</h1>
            <p class="lead">XiaMen Fish Whale Mdt Info Tech.Ltd</p>
            <p>厦门鱼鲸信息科技有限公司成立于2019年，是一家是一家有活力 有朝气的互联网公司，目前主要项目有大学生社交平台“鱼圈在线”，打造线上+线下的互联网社交模式。分享你的大学生活，打造属于你的社交圈子 </p>
            <p class="social"><a href="#" class="WeiXin"><i class="fab fa-weixin"></i></a><a href="tencent://message/?uin=1722570521&Site=Sambow&Menu=yes" class="QQ"><i class="fab fa-qq"></i></a></a><a href="mailto:1722570521@qq.com" class="email"><i class="fa fa-envelope"> </i></a></p>
            <p class="credit">Copyright © 2019 <a href="index.html" title="鱼鲸科技">鱼鲸科技</a> |  <a href="http://fj.beian.miit.gov.cn/" target="_blank" title="网站备案">闽ICP-180024</a> - Collect from <a href="index.html" title="鱼鲸信息科技" target="_blank">鱼鲸信息科技</a>  </p>
            <!-- Please do not remove the backlink to bootstrapious unless your Attribution-Free License @ https://bootstrapious.com/attribution-free-license. It is part of the license conditions. Thanks for understanding :) -->
          </div>
        </div>
        <div style="background-image:url(img/index/ickd.png);" class="col-xl-6 col-lg-5 col-md-4 intro-right"></div>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="vendor/index/jquery/jquery.min.js"></script>
    <script src="vendor/index/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/index/front.js"></script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>